@import '../_colors';

.TopBar{
  background-color: $TopBarBG;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .logo{
    height: 70px;
    width: 70px;
    background-image: url('./../assets/logo.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .user-action{
    display: flex;
    width: 120px;
    justify-content: space-between;
    .signup, .login, a{
      pointer: cursor;
      text-decoration: none;
    }
  }
}