@import '../components/TopBar';
@import '../_common';
.SignupPage{
  height: 100%;
  width: 100%;
  .body{
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .form{
      margin-top: 100px;
      width: 250px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .form-line{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 10px;
      }
      button{
        margin-top: 10px;
        width: 80px;
        height: 30px;
      }
    }
  }
}