@import '_colors';

.FundingSidebar{
  font-size: 2rem;
  flex-basis: 30%;
  padding-left: 1.5rem;
  border-left: solid 1px $border-color-grey;
  .side-info{
    border-top: 1px solid $border-color-darkgrey;
    border-left: 1px solid $border-color-darkgrey;
    border-right: 1px solid $border-color-darkgrey;
    font-weight: bold;
    background-color: $fund-header;
    padding: 1rem;
    color: $fund-header-text;
  }
  .project-name{
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  .project-subinfo{
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    background-color: $fund-header;
    .info{
      font-weight: bold;
    }
  }
  .amount{
    padding-left: 0.5rem;
    border-left: 1px solid $border-color-darkgrey;
    border-right: 1px solid $border-color-darkgrey;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: baseline;
    .raised{
      font-size: 6rem;
      font-weight: bold;
      margin-right: 1.5rem;
    }
    .of{
      margin-right: 1.5rem;
    }
    .target{
      font-size: 3rem;
    }
  }
  .stats {
    border-left: 1px solid $border-color-darkgrey;
    border-right: 1px solid $border-color-darkgrey;
    border-bottom: 1px solid darken($border-color-grey, 30%);
    padding-left: 0.5rem;
    display: flex;
    flex-direction:column;
    .stats-line {

      padding-bottom: 1rem;
      justify-content: center;
      background-color: white;
      display: flex;
      align-items: baseline;
      div {
        margin-right: 0.5rem;
      }
      .stat-val {
        font-size: 2rem;
        font-weight: bold;
      }
    }
  }
  .button{
    font-size: 4rem;
    font-weight: bold;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    text-align: center;
    border: 1px solid;
    border-color: darken($action-button, 60%);
    background-color: $action-button;
    &:hover{
      cursor: pointer;
      background-color: $action-button-hover;
    }
  }
}