@import '_colors';
.OfflineSearchList{
  position: relative;
  .result-list{
    position: absolute;
    left:0;
    right: 0;
    border: 1px solid black;
    padding: 0 0 0 0.5rem;
    background-color: white;
    &.close{
      display: none;
    }
    li{
      list-style-type: none;
      margin-bottom: 0.2rem;
      &:hover{
        cursor: pointer;
        background-color: $action-button;
      }
    }
  }

}