@import '_colors';

.ProjectsPage{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  .empty-project{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  .projects{
    .section-title{
      margin-left: 25px;
      font-size: 6rem;
    }
    border-bottom: solid 1px darken($border-color-grey,20%);
  }
  .add-new-project{

    margin-top: 2rem;
    .button{
      padding: 1rem 2rem;
      font-size: 1.5rem;
      border-radius: 0.2rem;
      border: 1px solid;
      border-color: darken($action-button, 60%);
      background-color: $action-button;
      &:hover{
        cursor: pointer;
        background-color: $action-button-hover;
      }
    }
    .new-project-page{
      .title {
        font-weight: bold;
        font-size: 2rem;
        text-align: center;
      }
      .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 500px;
        .form-line{
          margin: 1.5rem 0;
          display: flex;
          width: 100%;
          justify-content: space-between;
          input, textarea, .UserSelectBar{
            width: 350px;
          }
        }
      }
      .cancel{
        background-color: $cancel-button;
        &:hover{
          background-color: $cancel-button-hover;
        }
      }
    }
  }
}