@import '_colors';

.TopBar{
  background-color: $TopBarBG;
  height: 8rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .logo {
    padding: 0.5rem;
    .logo-mount {
      height: 7rem;
      width: 7rem;
      background-image: url('../images/logo.png');
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
  .user-action{
    display: flex;
    font-size: 2rem;
    justify-content: space-between;
    .signup, .login, .button{
      cursor: pointer;
      text-decoration: none;
      padding: 10px;
      border-radius: 25px;
      margin: 0.5rem;
      &:hover{
        font-weight: bold;
        background-color: $button-hover;
      }
    }
  }
}