.UserManagementPage{
  flex-direction: column;
  #table, td, th{
    width: 60%;
    border: 1px solid;
  }
  th,td{
    padding: 0.5rem;
  }
  tbody{
    th{
      font-weight: normal;
      text-align: left;
    }
  }

}