@import '_colors';
.ViewProjectPage{
  padding: 10rem;
  display: flex;
  .user-control{
    display: flex;
    .button{
      font-size: 1.5rem;
      padding: 1rem 2rem;
      border-radius: 0.2rem;
      border: 1px solid;
      border-color: darken($action-button, 60%);
      background-color: $action-button;
      margin-right: 0.5rem;
      &:hover{
        cursor: pointer;
        background-color: $action-button-hover;
      }
      &.delete{
        background-color: $delete-button;
        &:hover{
          background-color: $delete-button-hover;
        }
      }
    }
  }
  .project-info{
    font-size: 2rem;
    padding-right: 1.5rem;
    flex-basis: 70%;
    .section-title{
      font-size: 3.5rem;
      font-weight: bold;
    }
    .project-title{
      font-size: 8rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }
    .project-details{
      display: flex;
      justify-content:space-between;
      margin-bottom: 5rem;
    }
    .project-owner{
      font-size: 1.5rem;
      .owner:not(:last-child){
        &:after{
          content: ',';
        }
        margin-right: 0.5rem;
      }
    }
    .project-comments{
      margin-top: 5rem;
      .no-comments{
        margin-top: 1.5rem;
        margin-bottom: 3rem;
      }
      .comment{
        display: flex;
        border: 1px solid $border-color-grey;
        background: white;
        padding: 1.5rem;
        width: 600px;
        .commenter{
          width: 10rem;
          font-weight: bold;
          &:after{
            content: ':';
          }
        }
        .content{
          flex-grow: 1;
        }
        .timestamp{
          font-size: 1rem;
          font-style: italic;
          align-self: flex-end;
        }
      }
      .add-comment{
        margin-top: 2rem;
        font-size: 1.5rem;
        #comment{
          width: 500px;
          height: 4.5rem;
        }
        .submit-comment{
          margin-left: 1rem;
        }
        .button{
          padding: 1rem 2rem;
          border-radius: 0.2rem;
          border: 1px solid;
          border-color: darken($action-button, 60%);
          background-color: $action-button;
          &:hover{
            cursor: pointer;
            background-color: $action-button-hover;
          }
        }
      }
    }
  }
  .funding-options{
    font-size: 1.5rem;
    flex-basis: 30%;
    padding-left: 1.5rem;
    border-left: solid 1px $border-color-grey;
    .project-info{
      display: flex;
      border-left: 1px solid $border-color-darkgrey;
      border-right: 1px solid $border-color-darkgrey;
      border-top: 1px solid darken($border-color-grey, 30%);
      justify-content: space-between;
      padding: 1rem;
      font-size: 1.2rem;
      background-color: $fund-header;
      font-color: $fund-header-text;
      .info{
        font-weight: bold;
      }
    }
    .amount{
      padding-left: 0.5rem;
      border-left: 1px solid $border-color-darkgrey;
      border-right: 1px solid $border-color-darkgrey;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: baseline;
      .raised{
        font-size: 6rem;
        font-weight: bold;
        margin-right: 1.5rem;
      }
      .of{
        margin-right: 1.5rem;
      }
      .target{
        font-size: 3rem;
      }
    }
    .stats {
      border-left: 1px solid $border-color-darkgrey;
      border-right: 1px solid $border-color-darkgrey;
      border-bottom: 1px solid darken($border-color-grey, 30%);
      padding-left: 0.5rem;
      display: flex;
      flex-direction:column;
      .stats-line {

        padding-bottom: 1rem;
        justify-content: center;
        background-color: white;
        display: flex;
        align-items: baseline;
        div {
          margin-right: 0.5rem;
        }
        .stat-val {
          font-size: 2rem;
          font-weight: bold;
        }
      }
    }
    .button{
      font-size: 4rem;
      font-weight: bold;
      padding: 1.5rem 2rem;
      border-radius: 0.2rem;
      text-align: center;
      border: 1px solid;
      border-color: darken($action-button, 60%);
      background-color: $action-button;
      &:hover{
        cursor: pointer;
        background-color: $action-button-hover;
      }
    }
  }
}